<!DOCTYPE html>
<html>
<head>
    {{ include('modules/head.html.twig') }}
</head>
<body>
<div class="container vertical-center">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h3>{{ statusCode }}</h3>
            <h1 class="text-jumbo text-ginormous">
                {{ statusText|default('Oops!') }}
            </h1>
            <h2>
                {{ description|default('You have found our error page')|raw }}
            </h2>
            <hr style="background-color: rgb(130, 119, 201);">

            {{ instructionHeader|default('Here are some helpful links instead:') }}
            {{ include('modules/links.html.twig') }}
        </div>
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-4">
            <h3>&nbsp;</h3>
            {{ include('modules/svg.html.twig') }}
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{{ include('modules/footer-body.html.twig') }}
</body>
</html>